# vim: ft=yaml
# yamllint disable rule:comments-indentation
---
borg:
  client:
      # Key bitlength (ssh-keygen -b parameter) when generating minion keys
    key_bits: null
      # Key type parameter (-t) for ssh-keygen when generating minion keys
    key_type: ed25519
  server:
      # List of dictionaries containing at least `name` and `key`
      # values, key being the authorized public key.
      # Furthermore, append_only and quota are available. See below.
    repos: []
      # This configures repo parameters for mine-sourced repositories.
      # The actual list of repositories is determined by minions having
      # "client" in their pillar:borg_role list that have sent
      # "borg_pubkey" to the mine. This is handled by the borg.client state.
      # To make this work, add ``borg_role: client`` to their pillar and target
      # ``borg.client`` to them in your top file with ``I@borg_role:client``.
      # Furthermore, your borg server needs ``borg_role: server`` in its pillar
      # to be able to fetch the pubkeys from the mine.
    repos_mine:
        # Configures default repository parameters for mine-sourced repositories.
      default:
        append_only: false
        quota: false
      # override these parameters for a specific minion ID
    # sampleminion1:
    #   append_only: true
    #   quota: 20G
    symlink_repos: false

  lookup:
    group: borg
    home: /home/borg
    repos: /home/borg/repos
    shell: /usr/bin/bash
    user: borg

  tofs:
      # The files_switch key serves as a selector for alternative
      # directories under the formula files directory. See TOFS pattern
      # doc for more info.
      # Note: Any value not evaluated by `config.get` will be used literally.
      # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family

      # All aspects of path/file resolution are customisable using the options below.
      # This is unnecessary in most cases; there are sensible defaults.
      # Default path: salt://< path_prefix >/< dirs.files >/< dirs.default >
      # I.e.: salt://borg/files/default
      # path_prefix: template_alt
      # dirs:
      #   files: files_alt
      #   default: default_alt
      # The entries under `source_files` are prepended to the default source files
      # given for the state
    source_files:
      BorgBackup configuration is managed:
        - 'example_alt.tmpl'
        - 'example_alt.tmpl.jinja'
