# vim: ft=yaml
# yamllint disable rule:comments-indentation
# yamllint disable rule:line-length
---
borg:
  install:
      # Installation method - from package `repo` or binary download (`bin`)
      # On RedHat, `repo` requires the EPEL repository to be present
    method: repo
      # The following are only effective when install:method == `bin`
      #
      # Version to install. `latest` will check GitHub for the latest release.
    version: latest
      # Restrict the major version of the latest release
    version_major: 1
      # Allow alpha releases
    allow_alpha: false
      # Allow beta releases
    allow_beta: false
  client:
      # Generate client certificates instead of sending
      # the public key to the mine. Requires `ssh_pki` modules.
      # Mapping of certificate name to cert_params.
      # Will be saved at /root/.ssh/id_borg_<name>.crt.
    certs: {}
      # Default parameters to `ssh_pki.certificate_managed`.
      # You should set most of those in the signing policy, including
      # a critical option `force-command` that restricts connections
      # using it to a specific borg command.
    cert_params:
      all_principals: false
      backend: null
      backend_args: null
      ca_server: null
      signing_policy: null
      ttl: null
      ttl_remaining: null
      valid_principals: null
      # Key bitlength (ssh-keygen -b parameter) when generating minion keys
    key_bits: null
      # Key type parameter (-t) for ssh-keygen when generating minion keys.
      # rsa, ecdsa, ed25519
    key_type: ed25519
  server:
      # List of dictionaries containing at least `name` and `key`
      # values, key being the authorized public key.
      # Furthermore, append_only and quota are available. See below.
    repos: []
      # This configures repo parameters for mine-sourced repositories.
      # The actual list of repositories is determined by minions having
      # "client" in their pillar:borg_role list that have sent
      # "borg_pubkey" to the mine. This is handled by the borg.client state.
      # To make this work, add ``borg_role: client`` to their pillar and target
      # ``borg.client`` to them in your top file with ``I@borg_role:client``.
      # Furthermore, your borg server needs ``borg_role: server`` in its pillar
      # to be able to fetch the pubkeys from the mine.
    repos_mine:
        # Configures default repository parameters for mine-sourced repositories.
      default:
        append_only: false
        quota: false
      # override these parameters for a specific minion ID
    # sampleminion1:
    #   append_only: true
    #   quota: 20G
    symlink_repos: false

  lookup:
    bin:
      signature: https://github.com/borgbackup/borg/releases/download/{version}/borg-linux64.asc
      signed_by_all: null
      signed_by_any:
        - 6D5BEF9ADD2075805747B70F9F88FB52FAF7B393
      source: https://github.com/borgbackup/borg/releases/download/{version}/borg-linux64
      source_hash: null
      source_hash_sig: null
      symlink: /usr/local/bin/borg
      target: /opt/borgbackup/borg
    gh_repo: borgbackup/borg
    gpg:
      fingerprint: 6D5BEF9ADD2075805747B70F9F88FB52FAF7B393
      keyserver: keys.openpgp.org
      lib:
        pip: python-gnupg
        pkg: python3-gnupg
      pkg: gpg
    group: borg
    home: /home/borg
    repos: /home/borg/repos
    shell: /usr/bin/bash
    user: borg

  tofs:
      # The files_switch key serves as a selector for alternative
      # directories under the formula files directory. See TOFS pattern
      # doc for more info.
      # Note: Any value not evaluated by `config.get` will be used literally.
      # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family

      # All aspects of path/file resolution are customisable using the options below.
      # This is unnecessary in most cases; there are sensible defaults.
      # Default path: salt://< path_prefix >/< dirs.files >/< dirs.default >
      # I.e.: salt://borg/files/default
      # path_prefix: template_alt
      # dirs:
      #   files: files_alt
      #   default: default_alt
      # The entries under `source_files` are prepended to the default source files
      # given for the state
    source_files:
      BorgBackup configuration is managed:
        - 'example_alt.tmpl'
        - 'example_alt.tmpl.jinja'
